03-01-multiply/run
03-02-multiply/run
04-01-wordsearch/program
04-02-wordsearch/program
07-01-operations/dist-newstyle
07-02-operations/dist-newstyle
09-01-disk/puzzle
09-01-disk/puzzle.ali
09-01-disk/puzzle.o
09-02-disk/puzzle
09-02-disk/puzzle.ali
09-02-disk/puzzle.o
scratch/
